* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(40, 40, 52);
}
nav {
  width: 100%;
  display: flex;
  background-color: rgb(54, 53, 67);
  color: grey;
  justify-content: space-evenly;
  align-items: center;
}
.logoArea {
  color: white;
}
.homeArea {
  width: 50%;
}
nav ul li:hover,
.homeArea a:hover {
  color: white;
  cursor: pointer;
}
.afterEndSec {
  z-index: 1000;
}
nav h1 {
  cursor: pointer;
}
nav ul li,
.homeArea a {
  text-decoration: none;
  color: grey;
}
nav ul li {
  list-style: none;
  padding: 20px;
}
nav ul {
  display: flex;
}
nav h1 i {
  color: rgb(252, 186, 22);
}
section#afterNav h2 {
  font-size: 40px;
  color: rgb(155, 154, 168);
}
section#afterNav h1.name {
  font-size: 70px;
  color: white;
  border-bottom: 5px solid rgb(252, 186, 22);
  width: max-content;
}
section#afterNav p {
  width: 350px;
  color: rgb(164, 162, 176);
  margin-top: 30px;
}
section#afterNav img {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  left: 30%;
  top: 10%;
  height: 400px;
  width: 400px;
}
section#afterNav {
  display: flex;
  background-color: rgb(54, 53, 67);
  padding: 40px;
  position: relative;
  color: white;
  height: 500px;
}
#afterNav .namarea {
  flex: 1;
  margin-left: 8%;
}

.circle {
  position: absolute;
  border-radius: 50%;
  left: 550px;
  opacity: 0.5;
  top: 0;
  background-color: rgb(54, 52, 45);
  height: 400px;
  width: 400px;
}
.right a.showmore:hover {
  color: rgb(250, 205, 93);
}
.right a.showmore {
  text-decoration: none;
  color: rgb(252, 186, 22);
  margin: 200px 0;
}
.right {
  flex: 1.2;
  margin-left: 300px;
}
div.right h3 {
  color: rgb(164, 162, 176);
}
div.right p {
  margin-bottom: 10px;
}
div.socialArea i {
  background-color: grey;
  color: rgb(252, 186, 22);
  border-radius: 50%;
  padding: 10px;
}
div.socialArea {
  margin-top: 10px;
}
.afterEndSec h1 {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 70px;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(54, 53, 69);
}
.afterEndSec {
  position: absolute;
  bottom: -70px;
  padding: 30px;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 74, 92);
}
.linked {
  background-color: rgb(70, 70, 235);
}
#talent {
  background-color: rgb(40, 40, 52);
  height: max-content;
  position: relative;
}
.submain {
  padding-top: 170px;
  display: flex;
  justify-content: space-evenly;
}
.submain .left2 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}
.submain .left2 p {
  color: grey;
}
.submain .left2 {
  color: white;
  width: 40%;
}
.sectionArea {
  padding: 20px 0;
  width: 450px;
  gap: 20px;
}
.right2 img {
  height: 100px;
  width: 100px;
}
.right2 .sectionArea div p {
  color: grey;
}
.right2 .sectionArea div h3 {
  color: white;
  width: 180px;
}
.right2 .sectionArea i {
  margin-left: 100px;
  color: rgb(252, 186, 22);
}
.right2 .sectionArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}
.wrapper h2 {
  color: rgb(252, 186, 22);
}
.wrapper .wrapperChild {
  width: 50%;
}
.wrapper {
  margin-top: 30px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#advanceFeatures {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  position: relative;
  bottom: -198px;
}
#advanceFeatures div p {
  width: 300px;
  color: rgb(143, 142, 160);
}
#advanceFeatures div h1 i {
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(58, 54, 54);
  color: rgb(252, 186, 22);
  margin-bottom: 10px;
}
#advanceFeatures div h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  color: white;
}
#advanceFeatures div {
  padding: 30px;
  background-color: rgb(63, 62, 80);
}
#imagesSection {
  width: 100%;
}
#imagesSection .dataMain img {
  width: 600px;
  height: 400px;
}
.onepart p.onepartP {
  color: rgb(252, 186, 22);
}
.onepart div h4 {
  color: white;
}
.onepart div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
.onepart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.yellowColor {
  color: rgb(252, 186, 22);
}
#imagesSection .dataMain {
  background-color: rgb(40, 38, 49);
  margin: 10px 0;
  padding: 10px 40px;
}
#imagesSection {
  margin-top: 100px;
  display: flex;
  padding-top: 250px;
  background-color: rgb(44, 44, 56);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.moreButton:hover {
  background-color: rgb(252, 186, 22);
  color: white;
}
.moreButton {
  padding: 10px;
  background-color: rgb(37, 41, 53);
  letter-spacing: 1px;
  font-weight: 900;
  border-radius: 30px;
  border: rgb(252, 186, 22) solid 3px;
  margin: 30px auto 50px auto;
  cursor: pointer;
  display: flex;
  align-self: center;
}
.moreButtonMain {
  background-color: rgb(44, 44, 56);
  padding: 30px;
}
section#afterImagesSection div img {
  height: 500px;
  width: 500px;
}
.mainAfter {
  display: flex;
  justify-content: center;
  gap: 5%;
}
section#afterImagesSection {
  padding: 30px;
}
.rightImage {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgb(161, 160, 160);
}
.rightLeft {
  display: inline-block;
}
.rightLeft i:hover {
  background-color: rgb(252, 186, 22);
  color: white;
}
.rightLeft i {
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: rgb(252, 186, 22) solid 2px;
}
.bottomtext {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}
.marks {
  display: flex;
  gap: 10px;
}
.comma {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
}
.detailsOwn {
  width: 80%;
}
.ownName {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}
.line {
  width: 80%;
  margin: 0 10%;
  color: white;
}
#lastSection {
  width: 100%;
}
#lastSection div.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
#lastSection img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
.buttons button:hover {
  background-color: rgb(252, 186, 22);
  color: white;
}
.buttons button{
  padding: 8px;
  color: rgb(252, 186, 22);
  border: 2px solid rgb(252, 186, 22);
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}
.sunMain p{
  color: rgb(161, 160, 160);
  width: 30%;
  margin: 10px 0;
  line-height: 24px;
}
.sunMain h1{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  width: 60%;
  font-weight: 800;

}